<!DOCTYPE root[<!ELEMENT Help ANY>
<!ATTLIST Help id ID #REQUIRED>
<!ELEMENT Contact ANY>
<!ATTLIST Contact id ID #REQUIRED>
 
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>

]>
<root id="-1">
  <Contact id="1057" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-03-13T12:16:23" updateDate="2019-03-13T13:52:17" nodeName="Contact" urlName="contact" path="-1,1057" isDoc="" nodeType="1056" creatorName="amol" writerName="amol" writerID="0" template="1055" nodeTypeAlias="Contact">
    <Contact id="1058" parentID="1057" level="2" creatorID="0" sortOrder="0" createDate="2019-03-13T14:01:34" updateDate="2019-03-13T14:01:37" nodeName="Contact" urlName="contact" path="-1,1057,1058" isDoc="" nodeType="1056" creatorName="amol" writerName="amol" writerID="0" template="1055" nodeTypeAlias="Contact" />
  </Contact>
  <Help id="1061" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2019-03-13T14:03:35" updateDate="2019-03-13T14:19:12" nodeName="Help" urlName="help" path="-1,1061" isDoc="" nodeType="1060" creatorName="amol" writerName="amol" writerID="0" template="1059" nodeTypeAlias="Help" />
</root>